body, div, h1, h2, h3, h4, h5, h6, p {
	widows: 2;
	orphans: 2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	text-align: left;
	page-break-after: avoid;
}
i {
	font-style: italic;
}
b {
	font-weight: bold;
}
ol,ul{
	margin: 0;
	padding: 0 0 0 1.75em;
	border: 0;
	outline: 0;
}
li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
table {
	width: 100%;
}
img, div {
	padding: 0;
	margin: 0;
}
figure {
	display: block;
	padding: 0;
	margin: 0;
	page-break-inside: avoid;
}
figcaption {
	display: block;
	padding: 0;
	margin: 0;
	page-break-inside: avoid;
}
div.h100 {
	text-align: center;
	height: 100%;
	max-width: 100%;
	clear: both;
}
img.h100 {
	height: 100%;
	max-width: 100%;
}
div.w100 {
	text-align: center;
	max-height: 100%;
	width: 100%;
	clear: both;
}
figure.w100 {
	text-align: center;
	max-height: 100%;
	width: 100%;
	clear: both;
	margin: 1em 0;
}
img.w100 {
	max-height: 100%;
	width: 100%;
}
img.h1em {
	height: 1em;
}
img.h2em {
	height: 2em;
}
img.h4em {
	height: 4em;
}
div.footnote {
	margin-top: 15%;
}
hr.transition{
	display: block;
	border: none;
	margin: 0;
}
figure.w30c {
	text-align: center;
	max-height: 100%;
	margin: 1em 35%;
	clear: both;
}
figure.w50c {
	text-align: center;
	max-height: 100%;
	margin: 1em 25%;
	clear: both;
}
figure.w70c {
	text-align: center;
	max-height: 100%;
	margin: 0 15%;
	clear: both;
}
figure.w80c {
	text-align: center;
	max-height: 100%;
	margin: 1em 10%;
	clear: both;
}
div.w30c {
	text-align: center;
	max-height: 100%;
	margin: 0 35%;
	clear: both;
}
div.w50c {
	text-align: center;
	max-height: 100%;
	margin: 1em 25% 0 25%;
	clear: both;
}
div.w70c {
	text-align: center;
	max-height: 100%;
	margin: 1em 15%;
	clear: both;
}
div.w80c {
	text-align: center;
	max-height: 100%;
	margin: 0 10%;
	clear: both;
}
div.Box {
    margin: 1em 0;
    border: 1px solid #bcbec0;
}
div.Box-Inner {
    padding: 1em;
}
table.Table-1EM {
	border-collapse:collapse;
	border: 1px solid #000000;
	margin: 1em 0;
}
td.Table-1EM {
	border:  1px solid #000000;
	padding: 4px;
	vertical-align:top;
}
td.TB-2COL-15-Left {
    border: 1px solid #bcbec0;
    padding: 5px;
    width: 15%;
    vertical-align: top;
}
td.TB-3COL-30-Left {
    border: 1px solid #bcbec0;
    padding: 5px;
    width: 33%;
    vertical-align: top;
}
td.TB-3COL-30-Middle {
    border: 1px solid #bcbec0;
    padding: 5px;
    width: 33%;
    vertical-align: top;
}
td.TB-Right {
    border: 1px solid #bcbec0;
    padding: 5px;
    vertical-align: top;
}
td.Table-Head {
	background-color:#dcddde; /* Contrast warning for color #dcddde: Please use Color Safety Checker */
    border: 1px solid #bcbec0;
    padding: 5px;
}
h1.x01-FM-Ad-Card-Head {
	font-family:"Avenir LT Pro 85 Heavy", "Helvetica", sans-serif;
	font-size:0.667em;
	font-weight:bold;
	margin: 2em 0 0.5em 0;
	text-align:center;
	text-indent:0;
}
h1.x01-FM-Ad-Card-Head-First {
	font-family:"Avenir LT Pro 85 Heavy", "Helvetica", sans-serif;
	font-size:0.667em;
	font-weight:bold;
	margin: 15% 0 0.5em 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Ad-Card-List {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	font-style:italic;
	margin: 0.57em 2em 0 2em;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Contents-BM-Head {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0;
	text-indent:0;
}
p.x01-FM-Contents-BM-Head-Space {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.79em 0 0 0;
	text-indent:0;
}
p.x01-FM-Contents-CN {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 0 0 12%;
	text-indent:-12%;
}
p.x01-FM-Contents-CN-Space {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.72em 0 0 0;
	text-indent:0;
}
p.x01-FM-Contents-PN {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.667em;
	font-weight:bold;
	margin: 2.75em 0 .5em 0;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
p.x01-FM-Contents-PT {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1em;
	margin: 0 0 1.07em 0;
	text-indent:0;
}
p.x01-FM-Copyright-Text {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Copyright-Text-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 1.29em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Dedi-Body {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 15% 0 1.5em 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Dedi-Body-Source {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.75em;
	margin: 0 0 0.94em 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Epigraph-FL {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	font-style:italic;
	margin: 2em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Epigraph-FL-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	font-style:italic;
	margin: 15% 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Epigraph-Source {
	font-family:"Minion Pro SmBd", "Georgia", serif;
	font-size:0.583em;
	font-weight:bold;
	margin: 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Front-Sales-Quote {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	margin: 1.3em 0 0 0;
	text-indent:0;
}
p.x01-FM-Front-Sales-Quote-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	margin: 15% 0 0 0;
	text-indent:0;
}
p.x01-FM-Front-Sales-Source {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.708em;
	margin: 0 0 0 15%;
	text-align:right;
	text-indent:0;
}
h1.x01-FM-Head {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
h1.x02-Part-Number {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:1em;
	font-weight:bold;
	margin: 15% 0 0 0;
	text-indent:0;
}
h1.x02-Part-Title {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.75em;
	margin: 1em 0 0 0;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
	border-top: 1px solid;
	padding-top: .5em;
}
p.x03-CO-Body-Text {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 10% 0 0 0;
	text-indent:0;
}
p.x03-Chapter-Epigraph-FL {
	font-family:"Minion Pro Med", "Georgia", serif;
	font-size:0.775em;
	font-style:italic;
	margin: 0 10%;
	text-indent:0;
}
/*May want to look at the style below*/
p.x03-Chapter-Epigraph-Source {
	font-family:"Minion Pro SmBd", "Georgia", serif;
	font-size:0.583em;
	font-weight:bold;
	margin: 1.14em 10% 15% 0;
	text-align:right;
	text-indent:0;
}
h2.x03-Chapter-Number {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.667em;
	font-weight:bold;
	margin: 15% 0 1em 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: 1em;
}
h2.x03-Chapter-Title {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.5em;
	margin: 0 0 5% 0;
	page-break-after:avoid;
	text-indent:0;
}
h2.x03-Chapter-Title-Alt {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.5em;
	margin: 0 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
}
p.x04-Body-Text {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0;
	text-indent:1.42em;
}
p.x04-Body-Text-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 1em 0 0 0;
	text-indent:1.42em;
}
p.x04-Body-Text-FL {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0;
	text-indent:0;
}
p.x04-Space-Break-FL {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0;
	text-indent:0;
}
div.x04-Space-Break-Orn {
	color:#939598;
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 1.13em 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h3.x05-Head-A {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.167em;
	margin: 2em 0 1.14em 0;
	page-break-after:avoid;
	text-indent:0;
}
h4.x05-Head-B {
	font-family:"Avenir LT Pro 85 Heavy", "Helvetica", sans-serif;
	font-size:0.708em;
	font-weight:bold;
	margin: 2.82em 0 0.94em 0;
	page-break-after:avoid;
	text-indent:0;
}
p.x06-Dialogue {
	font-family:"Avenir", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.58em 0 2.53em;
	text-indent:-0.95em;
}
p.x06-Dialogue-First {
	font-family:"Avenir", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 1.58em 0 2.53em;
	text-indent:-0.95em;
}
p.x06-Dialogue-Last {
	font-family:"Avenir", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.58em 1.68em 2.53em;
	text-indent:-0.95em;
}
p.x06-Extract {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.58em;
	text-indent:1.26em;
}
p.x06-Extract-1P {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 1.58em;
	text-indent:0;
}
p.x06-Extract-1P-Indent {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 1.58em 1.68em 10%;
	text-indent:0;
}
p.x06-Extract-B-First-List {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size: .9em;
    margin: 1.68em 1.45em 1.68em 1.45em;
	text-indent:0;
}
p.x06-Extract-First {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 1.58em 0 1.58em;
	text-indent:0;
}
p.x06-Extract-Last {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.58em 1.68em 1.58em;
	text-indent:1.26em;
}
p.x06-Letter-Closing {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0.84em 2.53em 0 2.53em;
	text-indent:0;
}
p.x06-Letter-Closing-Last {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 2.53em 2.53em 2.53em;
	text-indent:0;
}
p.x06-Letter-Salutation {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 2.53em 0 2.53em;
	text-indent:0;
}
p.x06-Letter-Text {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0.84em 2.53em 0 2.53em;
	text-indent:0;
}
li.x07-List-Bulleted {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 0 0.28em;
	text-indent:0;
}
p.x07-List-Bulleted {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 1.51em 0 0 0.28em;
	text-indent:0;
}
p.x07-List-Bulleted-First {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-First-No-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 0 0.28em;
	text-indent:0;
}
p.x07-List-Bulleted-First-No-Space {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-First-Sub {
	font-family:"Minion Pro", "Georgia", serif;
	margin: 1.51em 0 0 0;
	list-style-type: disc;
	text-indent:0;
}
p.x07-List-Bulleted-First-Sub {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-Last {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 1.51em 0.28em;
	text-indent:0;
}
p.x07-List-Bulleted-Last {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-Last-Sub {
	font-family:"Minion Pro", "Georgia", serif;
	margin: 0 0 0 0;
	list-style-type: disc;
	text-indent:0;
}
p.x07-List-Bulleted-Last-Sub {
	font-size:1em;
	margin:0;
}
li.x07-List-Bulleted-Sub {
	font-family:"Minion Pro", "Georgia", serif;
	margin: 0 0 0 0;
	list-style-type: disc;
	text-indent:0;
}
p.x07-List-Bulleted-Sub {
	font-size:1em;
	margin:0;
}
li.x07-List-Lettered {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:upper-alpha;
	margin: 0 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Lettered {
	font-size:1em;
	margin:0;
}
li.x07-List-Lettered-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:upper-alpha;
	margin: 1.51em 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Lettered-First {
	font-size:1em;
	margin:0;
}
li.x07-List-Lettered-First-No-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:upper-alpha;
	margin: 0 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Lettered-First-No-Space {
	font-size:1em;
	margin:0;
}
li.x07-List-Lettered-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:upper-alpha;
	margin: 1.13em 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Lettered-Space {
	font-size:1em;
	margin:0;
}
li.x07-List-Numbered {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:decimal;
	margin: 0 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Numbered {
	font-size:1em;
	margin:0;
}
li.x07-List-Numbered-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:decimal;
	margin: 1.51em 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Numbered-First {
	font-size:1em;
	margin:0;
}
li.x07-List-Numbered-First-No-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:decimal;
	margin: 0 0 0 0.85em;
	text-indent:0;
}
p.x07-List-Numbered-First-No-Space {
	font-size:1em;
	margin:0;
}
li.x07-List-Numbered-Last {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:decimal;
	margin: 0 0 1.51em 0.85em;
	text-indent:0;
}
p.x07-List-Numbered-Last {
	font-size:1em;
	margin:0;
}
p.x07-List-Numbered-Para {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 0.76em 1.42em;
	text-indent:0;
}
p.x07-List-Numbered-Para-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 1.51em 0 0.76em 1.42em;
	text-indent:0;
}
p.x07-List-Numbered-Para-Last {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 1.51em 1.42em;
	text-indent:0;
}
p.x07-List-Numbered-Subpara {
	font-family:"Minion Pro", "Georgia", serif;
	margin: 0 0 0 0;
	text-indent:1.17em;
}
li.x07-List-Numered-Space {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	list-style-type:decimal;
	margin: 1.51em 0 1.51em 0.85em;
	text-indent:0;
}
p.x07-List-Numered-Space {
	font-size:1em;
	margin:0;
}
p.x07-List-Unnumbered {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 0.76em 1.42em;
	text-indent:0;
}
p.x07-List-Unnumbered-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 1.51em 0 0.76em 1.42em;
	text-indent:0;
}
p.x07-List-Unnumbered-Last {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0 0 1.51em 1.42em;
	text-indent:0;
}
p.x08-Table-Body {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.667em;
	margin: 0;
	text-indent:0;
}
p.x08-Table-Column-Head {
	font-family:"Avenir LT Pro 85 Heavy", "Helvetica", sans-serif;
	font-size:0.583em;
	font-weight:bold;
	margin: 0;
	text-indent:0;
}
li.x09-Box-List-Numbered {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	list-style-type:decimal;
	margin: 0 0 0 0;
	text-indent:0;
}
p.x09-Box-List-Numbered {
	font-size:1em;
	margin:0;
}
li.x09-Box-List-Numbered-First {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	list-style-type:decimal;
	margin: 1.78em 0 0 0;
	text-indent:0;
}
p.x09-Box-List-Numbered-First {
	font-size:1em;
	margin:0;
}
li.x09-Box-List-Numbered-First-No-Space {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	list-style-type:decimal;
	margin: 0 0 0 0;
	text-indent:0;
}
p.x09-Box-List-Numbered-First-No-Space {
	font-size:1em;
	margin:0;
}
li.x09-Box-List-Numbered-Last {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	list-style-type:decimal;
	margin: 0 0 0 0 ;
	text-indent:0;
}
p.x09-Box-List-Numbered-Last {
	font-size:1em;
	margin:0;
}
p.x09-Box-List-Unnuembered-First-No-Space {
	font-family:"Avenir LT Pro 55 Oblique", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.5em;
	text-indent:0;
}
p.x09-Box-List-Unnumbered {
	font-family:"Avenir LT Pro 55 Oblique", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 1.5em;
	text-indent:0;
}
p.x09-Box-List-Unnumbered-Last {
	font-family:"Avenir LT Pro 55 Oblique", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0 0 0 1.5em;
	text-indent:0;
}
p.x09-Box-Opener-Text {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 0;
	text-indent:0;
}
p.x09-Box-Text-FL {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	margin: 0;
	text-indent:0;
}
p.x09-Box-Text-FL-Space {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	margin: 1.67em 0 0 0;
	text-indent:0;
}
p.x09-Box-Text-Last {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	margin: 0 1.67em 0 1.67em;
	text-indent:1.33em;
}
p.x09-Box-Text-Last-Space {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.75em;
	margin: 0 0 0 2.3em;
	text-indent:1.33em;
}
h5.x09-Box-Title {
	font-family:"Avenir LT Pro 85 Heavy", "Helvetica", sans-serif;
	background: #DCDCDC;
	font-size:0.792em;
	font-weight:bold;
	margin: 0 0 0 0;
	text-indent:0;
	padding: .5em .5em .5em 1.2em;
}
p.x12-Caption {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.75em;
	margin: .5em 5% 0 5%;
	text-indent:0;
	text-align: left;
	font-style: italic;
}
p.x12-Figure-Head {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:0.833em;
	margin: 0 0 0.5em;
	text-align:center;
	text-indent:0;
}
p.x13-BM-Ack {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	margin: 0;
	text-indent:1.5em;
}
p.x13-BM-Ack-FL {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.833em;
	margin: 0;
	text-indent:0;
}
/*May want to look at the style below*/
h1.x13-BM-Ack-Head {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
p.x13-BM-Appendix-Body-Text {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 0;
	text-indent:1.42em;
}
p.x13-BM-Appendix-Body-Text-FL {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.883em;
	margin: 10% 0 0 0;
	text-indent:0;
}
p.x13-BM-Appendix-Head-A {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.167em;
	margin: 2.29em 0 1.14em 0;
	page-break-after:avoid;
	text-indent:0;
}
h1.x13-BM-Appendix-Number {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.667em;
	font-weight:bold;
	margin: 15% 0 1em 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: 1em;
}
h1.x13-BM-Appendix-Title {
	font-family:"Avenir LT Pro 45 Book", "Helvetica", sans-serif;
	font-size:1.5em;
	margin: 0 0 0 0;
	page-break-after:avoid;
	text-indent:0;
}
p.x13-BM-Biblio {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 0.29em 0 0 1.72em;
	text-indent:-1.72em;
}
p.x13-BM-Biblio-First {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 1.72em 0 0 1.72em;
	text-indent:-1.72em;
}
p.x13-BM-Endnotes {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 0 0 0 1.25em;
	text-indent:-1.25em;
}
p.x13-BM-Endnotes-Head-A {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.667em;
	margin: 2em 0 0.87em 0;
	text-align:center;
	text-indent:0;
	font-weight: bold;
}
p.x13-BM-Endnotes-Head-A-1 {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.667em;
	margin: 2em 0 0 0;
	text-align:center;
	text-indent:0;
	font-weight: bold;
}
p.x13-BM-Endnotes-Head-A-2 {
	font-family:"Avenir LT Pro 55 Oblique", "Helvetica", sans-serif;
	font-size:0.667em;
	margin: 0 0 1em 0;
	text-align:center;
	text-indent:0;
	font-weight: bold;	
}
p.x13-BM-Endnotes-Para {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.583em;
	margin: 0 0 0 2em;
	text-indent:2em;
}
/*May want to look at the style below*/
h1.x13-BM-Head {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
h1.x13-BM-Index-Head {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 5% 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
p.x13-BM-Index-1 {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.625em;
	margin: 0 0 0 2em;
	text-indent:-2em;
}
p.x13-BM-Index-2 {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.625em;
	margin: 0 0 0 2.93em;
	text-indent:-2em;
}
p.x13-BM-Index-Alpha {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.625em;
	margin: 1.6em 0 0 2em;
	text-indent:-2em;
}
p.x14-Free-Style-1 {
	font-family:"Avenir LT Pro 55 Roman", "Helvetica", sans-serif;
	font-size:0.792em;
	margin: 1.68em 1.58em 0 1.58em;
	text-indent:0;
}
span._6-Dialogue-Speaker {
	font-family:"Avenir Heavy", "Helvetica", sans-serif;
	font-size:70%;
	font-weight:bold;
}
span.BOLD-ITAL {
	font-style:italic;
	font-weight:bold;
}
span.BOLD-SCAP {
	font-size:0.667em;
	font-weight:bold;
}
span.CN {
	font-size:80%;
	font-weight: bold;
}
sup.endnote {
	vertical-align:super;
	line-height: 0;
	font-size: 65%;
}
span.Figure-Caption {
	font-size:80%;
	font-style: normal;
	font-weight:bold;
}
span.SCAP {
	font-size: 70%;
}
span.SCAP-85 {
	font-size: 85%;
}
p.x03-CO-Body-Text::first-letter{
	font-size:4.0em;
	line-height:0.8;
	float:left;
	margin:0 0.05em 0 0;
	color:#939598;
	font-family:"Avenir LT Pro 35 Light", "Helvetica", sans-serif;
}

h1.x13-BM-About-Au-Head {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-indent:0;
	border-bottom: 1px solid;
	padding-bottom: .5em;
}
p.x13-BM-About-Au {
	font-family: "Minion Pro", "Georgia", serif;
	font-size: 0.883em;
	margin: 1.5em 0 0 0;
	text-indent: 0em;
}
p.x13-BM-Index-Note {
	font-family:"Minion Pro", "Georgia", serif;
	font-size:0.625em;
	margin: 0 0 1em 0;
	text-indent:0;
}


/* ----- NAV BARS ----- */

div.x13-BM-Index-Nav-Bar {
	margin:1em 0;
	page-break-inside:avoid;
	border-bottom: 2px solid #999999;
	border-top: 2px solid #999999;
	width:100%;
}
p.x13-BM-Index-Nav-Bar {
	font-family:"Avenir LT Pro 95 Black", "Helvetica", sans-serif;
	font-size:0.833em;
	margin:.1em;
	padding:.4em;
	line-height:1.5em;
	text-align:center;
}
span.x13-BM-Index-Nav-Bar-Letter {
	text-align:center;
	padding:0 .15em;
	color:#999999;
}