---
layout: archive
author_profile: true
classes: wide
<!-- permalink: /about/ -->
---


<!-- <h4 style="color:#1496BB">Biography</h4>

    <p>Noah is a data scientist and software engineer based in New York, NY, even though he is a true midwesterner at heart.
    </p> -->

<h4 style="color:#1496BB">Education and Experience</h4>
  <ul class="fa-ul">
    <li><span class="fa-li"><i class="fas fa-university"></i></span><b>M.A.</b> in Computational Creativity, 2020-present<br>
        <span style="color: grey;">Gallatin School of Individualized Study</span></br>
        <span style="color: grey;">New York University, New York, NY</span></li>
      <li><span class="fa-li"><i class="fas fa-briefcase"></i></span><b>Software Engineer</b>,
          2018-present<br>
        <span style="color: grey;">Software Engineering and Emerging Technologies Team</span><br>
        <span style="color: grey;">Johnson & Johnson, Raritan, NJ</span></li>
      <li><span class="fa-li"><i class="fas fa-university"></i></span><b>B.A.</b> in Computer Science, 2014-2018<br>
             <span style="color: grey;">Florida State University, Tallahassee, FL</span></li>
      <li><span class="fa-li"><i class="fas fa-university"></i></span><b>B.M.</b> in Music Composition, 2014-2018<br>
        <span style="color: grey;">Florida State University, Tallahassee, FL</span></li>
  </ul>


    Please read my <a href={{"" | absolute_url }} target="_blank">resume</a>
        for projects, research, and achievements.</i>

</div>
